.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.app-body {
  display: flex;
  flex: 1;
  position: relative;
  margin-top: 56px;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.2rem;
  color: #606060;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0;
  }
}
